.bg-container{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/429/282/466/tropical-palm-tree-beach-ocean-sunlight-island-hd-wallpaper-preview.jpg");
    height: 100vh;
    background-size: cover;
}
.tourism-card{
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5px;
}
.button{
    height: 36px;
    width: 138px;
    background-color: #25b1cc;
    color: white;
    border-radius: 25px;
    border-width: 0px;
}